@import "parts/params";
// @import (reference) "parts/bootstrap";
@import "parts/mixins";





a:hover{
  color:blue;
  .grad_move(5s, @yellow, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h1{
  .title-h2;
  
}

#__layout > div> div{.size-full;}

.nav-icon(@url){
  .masked-icon(@url);
    width:1.3em;
    height: 1.3em;
    color: inherit;
    
    margin-bottom: -0.25em;
}

.icon{
  &__blog{
    
    .nav-icon("http://127.0.0.1:8000/static/img/blog.svg");
    
   
   
    
  }
  
  &__home{
    .nav-icon("http://127.0.0.1:8000/static/img/home.svg");
    
  }
  
  &__gal{
    .nav-icon("http://127.0.0.1:8000/static/img/gallery.svg");
   
    
    
  }
}

.nav{
  background-color: @darkest;
  .size-full();
 
  background: linear-gradient(270deg, @darkest, #593763);
  

  position        : sticky;
  top             : 0;
  &__row{
      .size-full();
      .flex-row;
      .font-xs-600;
      .padding-h(2em,2em);
      align-content   : center;
      align-items     : center;
      justify-content : space-around;

      z-index         : 20;
      list-style:none;
 
  
      @media (max-width: @size-mobile) {
        .font-xxs-600;
      }
      
      
      &__link {
        color: @yellow;
        .flex-row;
        transition: transform 0.5s;
        
        &:hover{
          transform: scale(1.2);
               
          .grad_move(5s, @yellow, blue);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  }
}




.string {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 2em);
  
  
  &__box {
    .title-h1;
    overflow: hidden;
    height: 1.2em;
    position: relative;
    
    &__in {
      position: absolute;
      width: 100%;
      height: auto;
      animation: charSlider 6s linear;
      animation-fill-mode: backwards;
    }
  }
  
}

